<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Answer to:</b>
  <%= @post.answer_to %>
</p>

<p>
  <b>User:</b>
  <%= @post.user_id %>
</p>


<%= link_to 'Edit', edit_topic_post_path(@topic,@post) %> |
<%= link_to 'Back', topic_posts_path(@topic) %>
